h1,
h2,
h3,
h4,
h5,
h6
 {
  font-weight: 700px;
}

a {
  color: var(--primary);
}

p{
  color:black
}

a:hover {
  color: var(--secondary);
}

.title {
  text-transform: uppercase;
}

.subtitle {
  color: var(--medium);
  font-weight: 400;
  color: #03045E;
}

.block {
  margin-bottom: 150px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--primary);
}
